# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pkl

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/

# Python Cache
.pytest_cache/

# Logs
*.log

data/creditcard.csv